
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>
@{
    ViewBag.Title = "AddCust";
    List<string> strList1 = new List<string> { "INDIA", "USA", "SWEDEN" };
}

<h2>AddCust</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Customer-ID")
        @Html.TextBox("ID", "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Customer-Name")
        @Html.TextBox("name", "Harry Potter", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Customer-Gender")
        @Html.RadioButton("gender", "Male" ,true, new { id = "male" })Male
        @Html.RadioButton("gender", "Female", new { id = "female" })Female
    </div>

    <div class=" form-group ">
        @Html.Label("Customer-Address")
        @Html.TextArea("Address", "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Cust-Experience : ")
        @Html.CheckBox("Dubai", true)Dubai
        @Html.CheckBox("Abu Dhabi")Abu Dhabi
        @Html.CheckBox("UAE")UAE
    </div>

    <div class="form-group">
        @Html.Label("Type-of-Accounts")
        @Html.ListBox("Account", new List<SelectListItem>
    {
        new SelectListItem{Text="Saving",Value="1"},
        new SelectListItem{Text="Current",Value="2"},
        new SelectListItem{Text="Over Draft",Value="3"}
    })
    </div>

    <div class="form-group">
        @Html.Label(" New-Branch-Country")
        @Html.DropDownList("ddbranch", new SelectList(strList1, strList1.FirstOrDefault()))
    </div>

    <div>
        <input type="Submit" value="Submit" class="btn btn-primary" />
    </div>
}

